.vim-navigation {
    nav {
    	background:transparent;
    	border-color: $primary_color;
    	border-radius: 0;
    }

    li {
        padding: 10px;
    }

    input {
        margin-right: 11px;
        vertical-align: sub;
    }
}